week6/bookstore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="bookstore" type="bookstoreType"/>
 <xs:complexType name="bookstoreType">
 <xs:sequence>
 <xs:element name="book" type="bookType" minOccurs="0" maxOccurs="unbounded"/>
 </xs:sequence>
 </xs:complexType>
 <xs:complexType name="bookType">
 <xs:sequence>
 <xs:element name="title" type="xs:string"/>
 <xs:element name="author" type="xs:string"/>
 <xs:element name="price" type="xs:decimal"/>
 </xs:sequence>
 </xs:complexType>
</xs:schema>
